#image {
  max-width: 100%;
  height: auto;
  display: block;
}
main {
  background: #000000;
  color: #ffffff;
}
h1 {
  color: #ffffff;
  text-align: center;
}
p {
  text-align: center;
}
h3 {
  margin: 15px;
}
#tribute-link {
  color: #ffffff;
  font-style: italic;
}
#more-info-test {
  Font-size: 0.75em;
}